// Grayscales (dark to light)
$midnight: #080808;
$abyss: #222222;
$road: #424040;
$deep: #444444;
$dark: #666666;
$slab: #8a8a8a;
$concrete: #bbb;
$shadow: #d4d4d4;
$base: #e6e6e6;
$cloud: #eaeced;
$wisp: #f4f4f4;
$bleach: #f8f8f8;

// Blues
$highrise: #3c5056;
$sky: #6aa3bf;
$eadms: #54a2fa;
$glass: #b3e1f0;
$process: #0080bd;

// #region Blue-Greens
$seaweed: #4dc792;

// #region Greens
$fresh: #b4d272;
$grass: #a5c268;
$neon: #3aff20;

// #region Yellow-Greens
$scrub: #d2d264;
$outback: #d1bf3b;
$forest: #3e833e;

// #region Yellows
$yeller: #ffe4b4;
$bus: #fac566;

// #region Oranges
$brick: #e6a79c;

// Browns
$cornsilk: #fff8dc;
$wooden: #e9865f;
$dirt: #a67229;
$mud: #795625;

// #region Reds */
$school: #f05249;
$wine: #95312e;

// #region Purples */
$violet: #865bde;

// #region Bootstrap Colors */
$primary: #428bca;
$success: #5cb85c;
$info: #5bc0de;
$warning: #f0ad4e;
$danger: #d9534f;



