.so-widget-sow-headline-default-73f87b0ab40f #sow-headline-container.sow-headline h1 {
  text-align: center;
  color: #000000;
  line-height: 1.4;
}
.so-widget-sow-headline-default-73f87b0ab40f #sow-headline-container.sow-headline h3 {
  text-align: center;
  color: #000000;
  line-height: 1.4;
}
.so-widget-sow-headline-default-73f87b0ab40f #sow-headline-container.sow-headline .decoration {
  border-top: thin none #EEEEEE;
  position: relative;
  height: 1px;
  margin: 20px 60px;
}